{erl_opts, [debug_info]}.

{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.10.0"}}},
  {mysql, {git, "https://github.com/mysql-otp/mysql-otp.git", {branch, "master"}}}
  {jsx, "3.1.0"}
]}.

{relx, [
  {release, {reklamohub, "0.1.0"},
    [reklamohub, cowboy]},
  {dev_mode, true},
  {include_erts, false}
]}.